# Node modules
node_modules

# Distribution folder
dist

# User content
content/plugins/*
content/themes/*
content/uploads/*
content/config/*

# Keep README files
!content/plugins/README.md
!content/plugins/CREATING_NPM_PLUGINS.md
!content/themes/README.md
!content/uploads/README.md
!content/config/README.md

# Config overrides
config/local.json
.env
.claude
.DS_Store