app = "htmldrop-cms"
primary_region = "ord"

[build]
  builder = "heroku/buildpacks:20"

[deploy]
  release_command = "npm run migrate && npm run seed"

[env]
  NODE_ENV = "production"
  PORT = "3000"
  DB_CLIENT = "pg"
  TABLE_PREFIX = "hd_"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[services]]
  protocol = "tcp"
  internal_port = 3000

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20

  [[services.tcp_checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "1s"
    restart_limit = 0

[[statics]]
  guest_path = "/app/hd-content/uploads"
  url_prefix = "/uploads"
